@import '~express-news-styleguide/init-base';

div.toggle-dual-language {
    text-align: center;
    margin: 20px 0;
    display: none;

    @include mediaquery($default-tablet) {
        display: block;
    }

    .container {
        display: inline-block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;

            &.left  {
                left: -40px;
            }

            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }

        .label {
            position: relative;
            top: 2px;

            &.left {
                left: -10px;
            }

            &.right {
                left: 30px;
            }
        }

        &:hover input ~ .checkmark {
            background-color: #ccc;
        }

        input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        input:checked ~ .checkmark:after {
            display: block;
        }

        .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }    
    }
}
