div.App {
    a, a:visited {
        color: #c1081b !important; // !important b/c the WCM is an irrational and violent overlord
        text-decoration: none !important;
    }

    div.wrapper {
        max-width: 1200px;
        min-width: 300px;
        margin: 70px auto 0;
        width: 100%;
        font-family: 'Lora', serif;
    }

    hr {
        border: 0;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    div.definitions {
        width: 100%;
        margin: 20px 0 30px;
        padding-top: 20px;
        border-top: 1px rgba(0, 0, 0, 0.2) solid;

        div.title {
            margin-bottom: 5px;
            font-size: 1.1em;
        }

        ul {
            padding: 10px;
            margin: 0;
            
            li {
                margin-bottom: 8px;
                color: #333;
                font-size: 0.8em;

                span {
                    text-decoration: underline;
                }
            }
        }
    }
}