div.header {
    border-bottom: 1px rgba(0,0,0,0.2) solid;

    h1 {
        font-size: 36px;
        margin: 20px 0;
        text-align: center;
    }

    p {
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 1em;

        &.byline {
            text-align: center;
            color: #666;
            font-style: italic;
        }
    }
}