div.dashboard {
    h2 {
        font-size: 28px;
        margin: 20px 0;
        color: #333;
        text-align: center;
    }

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        width: 90%;
        max-width: 800px;
    }

    div.definitions {
        width: 100%;
        margin: 30px 0;
        padding-top: 20px;
        border-top: 1px rgba(0, 0, 0, 0.2) solid;

        div.title {
            margin-bottom: 5px;
            font-size: 1.1em;
        }

        ul {
            padding: 10px;
            margin: 0;
            
            li {
                margin-bottom: 8px;
                color: #333;
                font-size: 0.8em;

                span {
                    text-decoration: underline;
                }
            }
        }
    }
}